.custom-btn-signup {
  background-color: transparent;
  border: transparent;
  margin-top: 5px;
  font-size: 12px;
  color: #011f5b;
}

.custom-btn-signup:hover {
  background-color: transparent;
  border: transparent;
  color: #011f5b;
}

.custom-btn-signup:active {
  background-color: transparent;
  border: transparent;
}

.custom-btn-signup:visited {
  background-color: transparent;
  border: transparent;
}

.div-center {
  text-align: center;
  width: 400px;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  overflow: auto;
  display: table;
}

h2.appname {
  color: #011f5b;
}

.signup-form {
  width: 285px;
  margin: 50px auto;
  padding: 2px;
}

.signup-form Form {
  background: #011f5b;
  margin-top: 20px;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 17px;
  border-radius: 20px;
}

.signup-form Button {
  width: 200px;
  border-radius: 20px;
}

.signup-form input {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
